In [1]:
#Fuzzy cmeans
import pandas as pd
import numpy as np
import random
from scipy.spatial import distance

In [2]:
df= pd.read_csv("7.csv",header=None)
data=df.to_numpy()

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,7,2,0,2,14,3,1,1,7,0.58333,...,1.0,0,0.72727,0.57143,1,1,11.429,2,1.2857,0
1,8,2,0,2,17,2,1,1,8,0.57143,...,1.0,0,0.69565,0.58333,1,1,19.000,8,2.3750,0
2,38,1,0,14,38,703,8,9,38,2.00000,...,0.0,0,0.00000,0.24211,0,0,0.000,1,1.0000,0
3,10,1,0,9,57,0,4,5,9,0.11111,...,1.0,0,0.00000,0.42500,0,0,49.900,3,1.1000,5
4,28,1,0,19,83,172,12,9,24,0.78241,...,1.0,0,0.00000,0.17857,1,1,27.286,23,2.5357,1

In [4]:
n=data.shape[0]

In [6]:
#defining functions
#initialising
def centre(x,c=2):
    choice=np.arange(x.shape[0]) 
    initial_cen=np.random.choice(choice,c)
    centroids= np.empty((c,x.shape[1]))
    for i in range(c):
        centroids[i]= x[intial_cen[i]]
    i=0
    while(True):
        if i!=0:
            centroids=new_centroid
        i+=1
        membership = find_member(x,c,centroids)
        labels= find_label(x,membership,c)
        new_centroid = find_centre(x,membership,labels,c)
        diff=0
        for j in range(c):
            diff+= distance.euclidean(centroids[j],new_centroid[j])
        if i>12:
            break
    return centroids

In [7]:
#membership functyion

In [8]:
#labels function

In [9]:
#new centroid function

In [10]:
#fuzzy fucntion

In [11]:
#Silhouette value function and DB index